<p>saisie-name works!</p>

<h2>Saisie des personnes</h2>

<div>
    <div>
        <!--Prenom-->
        <!-- 
        <div>
            <label  for="namePersonne"> Prénom &nbsp; &nbsp;</label>
            <input  id="namePersonne" type="text" name="namePersonne"
                [(ngModel)]="this.newPersonne.name" required>
        </div>
        <br>
    -->
        <!-- Email du compte-->
        <!-- 
        <div>
            <label for="emailPersonne"> Email &nbsp; &nbsp;</label>
            <input id="emailPersonne" type="email" name="emailPersonne" [(ngModel)]="this.newPersonne.mail"
                required>
        </div>
        <br>
    -->
    </div>
    <br>

    <br>
    <!-- Bouton de validation -->
    <button type="submit"  (click)="this.enregistrer()">
        Ajouter
        Personne</button>
</div>